__pycache__/
*.pyc
.venv/
venv/
ENV/
env/
*.sqlite3
*.db
*.sqlite
*.csv
*.joblib
model/
smartplate.db
/.vscode/
/.idea/
Thumbs.db
desktop.ini
__MACOSX/
.DS_Store
*.log
pip-wheel-metadata/
build/
dist/
*.egg-info/
/.pytest_cache/